@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.charleft.ginput_counter.warningTextareaInfo {
    display: none;
}
.stripe-checkout-form-b_wrapper {
    background-color: #efefef;
    box-sizing: border-box;
    width: 100%;
    padding: 0.2em;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #dfdcde;
    color: #515151;
    background-color: #efefef !important;
}
.stripe-checkout-form-b_wrapper label.gfield_label::after, .stripe-checkout-form-b_wrapper legend::after {
    content: " *";
    color: red;
    font-weight: 700;
    border: 0;
}
.stripe-checkout-form-b_wrapper .gform_heading {
    display: none;
}
.stripe-checkout-form-b_wrapper .gform_button {
    width: 100%;
    font-weight: bold !important;
}
.stripe-checkout-form-b_wrapper .stripe-expiry-date, .card-code-cvc {
    width: 47% !important;
}
  .stripe-checkout-form-b_wrapper div#input_4_3_2_container{
    display: none !important;
}
.stripe-checkout-form-b_wrapper div#gform_fields_4 {
    display: flex !important;
    flex-wrap: wrap;
}
.stripe-checkout-form-b_wrapper .stripe-card-number {
    width: 100%;
}
.stripe-checkout-form-b_wrapper div#field_4_14 {
    display: flex;
    flex-wrap: wrap;
  
}
  .stripe-checkout-form-b_wrapper div#field_4_14 label{
    width: 100%;
  }
.stripe-checkout-form-b_wrapper #date {
    width: 100% !important;
}
.stripe-checkout-form-b_wrapper .stripe-card-number label {
    display: block !important;
}
.stripe-checkout-form-b_wrapper .stripe-card-number input {
    width: 100% !important;
}
.stripe-checkout-form-b_wrapper  .gform_button{
display: none !important;  
  }
  .stripe-checkout-form-b_wrapper{
    display: none;
  }

.stripe-checkout-form-b_wrapper  div#input_4_3_3_container label {
    display: none;
}
 fieldset#wc-stripe-cc-form{
    display: none;
  }
.stripe-checkout-form-b_wrapper div#field_4_14 {
    width: 50%;
}
.stripe-checkout-form-b_wrapper input {
    height: 1.2em !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;

}
.stripe-checkout-form-b_wrapper label {
font-size: 14px !important;
  }
  @media (max-width: 600px){
    div#field_4_14 input{
      margin: 0 !important;
    }
        .stripe-checkout-form-b_wrapper label {
font-size: 13px !important;
  }

  }

input#input_4_6::-webkit-outer-spin-button,
input#input_4_6::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input#input_4_6 {
  -moz-appearance: textfield;
}
.stripe-checkout-form-b_wrapper  .stripe-card-brand{
position: absolute;
right: 10px;
top: 45px;
}
div#field_4_13 {
    margin-bottom: 30px;
}
div#gform_confirmation_wrapper_4{
    border-top-color: #b81c23 !important;
padding: 1em 2em 1em 3.5em;
margin: 0 0 2em;
position: relative;
background-color: #f7f6f7;
color: #515151;
border-top: 3px solid #a46497;
list-style: none outside;
zoom: 1;
width: auto;
word-wrap: break-word;
}

div#gform_confirmation_wrapper_4::before {
    font-family: WooCommerce;
    content: '\e028';
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1.5em;
content: '\e016';
    color: #b81c23;

}
div#gform_confirmation_wrapper_4::after {
clear: both;
content: ' ';
display: table;
}

input#f-date {
    max-width: 172px !important;
}
input#input_4_6 {
    min-height: 30px !important;
}

input#ccn.is-invalid {
    color: #eb1c26 !important;
}
